<html><head>
      <title>Home</title>
      <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
      <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
   </head>
   <body>
      <header>
         <div class="container">
            <div align="middle">

<h2 style="color: black">Breast Cancer Prediction</h2>
</div>


            
         </div>
      </header>
      <div class="ml-container" align="center">
         <form action="/" method="POST" enctype="multipart/form-data" align="middle">
            <p>Upload Test Image</p>
          <input type="file" name="pic" accept="image/*" align="middle">
          
            <br>
<br>
<br><br>
            <input type="submit" class="btn-info" value="Predict" input="" name="text">
         </form>
      </div>

   
</body></html>