<html><head>
      <title>Home</title>
      <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
      <link rel="stylesheet" type="text/css" href="static/css/styles.css">
   </head>
   <body style="background-image: url('bg-01.jpg');">
 
         <div class="container">
            <div align="middle">
<h2 style="color: white;size: 100px"><font style="font-size: 50px">Breast Cancer Prediction</font></h2>
</div>


        
         </div>

      <div class="ml-container" align="center">
         <form action="/" method="POST" enctype="multipart/form-data" align="middle">
          <p align="middle"><font style="font-size: 30px">Upload Test Image</font></p>
          <input type="file" name="pic" accept="image/*" align="middle">
          
            <br>
<br>
<br><br>
            <input type="submit" class="btn-info" value="Predict" input="" name="text">
         </form>
      </div>

   
</body></html>